<!DOCTYPE html>
<html lang="en">
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<link rel="stylesheet" href="/static/style.css" th:href="'/style.css'">
<head>
    <meta charset="UTF-8">
    <title>Registrering</title>
</head>
<body>
<h1>Registrera dig här</h1>

<form action="/" th:object="${taskList}" method="post">
    <label>Namn</label>
    <input type="text" th:field="*{name}" placeholder="Namn" autofocus required/>
    <label>E-post</label>
    <input type="text" th:field="*{email}" placeholder="E-post" required/>
    <label>Användarnamn</label>
    <input type="text"  th:field="*{username}" placeholder="Användarnamn" name="uname" required>
    <label>Lösenord</label>
    <input type="password"  th:field="*{password}"placeholder="Lösenord" name="psw" required>
    <label>Genta lösenord </label>
    <input type="password"  th:field="*{password}"placeholder="Bekräfta lösenord" name="psw-repeat" required>
    <input class="addButton" type="submit" name="submit" value="Gå vidare">

</form>



</body>
</html>